<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid or Expired Link</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #555;
        }

        p {
            color: #777;
        }
    </style>
</head>
<body>
<h1>Invalid or Expired Link</h1>
<p>The link you have used is either invalid or has expired.</p>
<p>Please make sure you have the correct link and try again.</p>
</body>
</html>
