<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management - LuxeCart</title>
    <link rel="stylesheet" th:href="@{/static/CSS/Admin/category.css}">
</head>

<body>

<div th:replace="~{Admin/fragments}"></div>

<main>
    <button class="add-category-btn" onclick="openAddCategoryModal()">Add Category</button>
    <h2>Category Management</h2>

    <div class="category-list">
        <table>
            <thead>
            <tr>
                <th>Serial Number</th>
                <th>Category Name</th>
                <th>Category Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Replace the following with Thymeleaf loop to iterate over categories -->
            <tr th:each="category, no: ${categorylist}">
                <td th:width="1px" th:text="${no.index + 1}"></td>
                <td th:text="${category.categoryName}">Category 1</td>
                <td th:text="${category.categoryDescription}">Description for Category 1</td>
                <td>
                    <a role="button" class="update-btn"
                       th:onclick="openUpdateCategoryModal([[${category.categoryId}]], [[${category.categoryName}]], [[${category.categoryDescription}]])">Update</a>
                    <a th:onclick="confirmDelete([[${category.categoryId}]])"
                       class="delete-btn">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="categoryModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="modalTitle">Add Category</h2>
            <!-- Your form goes here -->
            <form id="categoryForm" th:object="${category}" th:action="@{/admin/add-category}" method="post">
                <input th:field="*{categoryId}" type="hidden" id="categoryId" name="categoryId" readonly>
                <input th:field="*{categoryName}" type="text" id="categoryName" name="categoryName" required
                       placeholder="Category Name">
                <textarea th:field="*{categoryDescription}" id="categoryDescription" name="categoryDescription"
                          rows="4" placeholder="Category Description"></textarea>
                <button type="submit" id="submitBtn">Add Category</button>
            </form>
        </div>
    </div>
</main>

<script th:src="@{/static/js/Admin/category.js}"></script>
</body>

</html>
