<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management - LuxeCart</title>
    <link rel="stylesheet" th:href="@{/static/CSS/Admin/customer.css}">
</head>

<body>
<div th:replace="~{Admin/fragments}"></div>


<main>
    <section id="customer-link" class="customer-management">
        <h2>Customer Management</h2>

        <section class="customer-orders">
            <h3>Customer Lists</h3>
            <table>
                <thead>
                <tr>
                    <th>Sr NO</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Order History</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,no:${userlist}">
                    <td th:width="1px" th:text="${no.index+1}"></td>
                    <td th:text="${user.name}">Product A</td>
                    <td th:text="${user.emailId}">2</td>
                    <td th:text="${user.phoneNumber}">$50.00</td>
                    <td th:text="${user.address}">$50.00</td>
                    <td><a href="#" role="button" th:href="@{customer-order(id=${user.id})}">View</a></td>
                </tr>
                <!-- Add more rows for other orders -->
                </tbody>
            </table>
        </section>
    </section>
</main>

</body>

<script th:src="@{/static/js/Admin/customer.js}"></script>
</html>
