<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/static/CSS/Admin/fragments.css}">
    <title></title>
</head>
<body>
<header>
    <h1>Admin Panel - LuxeCart</h1>
</header>
<nav>
    <ul>
        <li><a href="/admin/home" title="Dashboard">📊 Dashboard</a></li>
        <li><a href="/admin/category" title="Category">📁 Category</a></li>
        <li><a href="/admin/product" title="Products">🛍️ Products</a></li>
        <li><a href="/admin/order" title="Orders">📦 Orders</a></li>
        <li><a href="/admin/customer" title="Customers">👥 Customers</a></li>
        <li><a href="/logout" title="Logout">🚪 Logout</a></li>
    </ul>
</nav>
</body>
</html>