<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - LuxeCart</title>
    <link rel="stylesheet" th:href="@{/static/CSS/Admin/home.css}">
</head>

<body>
<div th:replace="~{Admin/fragments}"></div>
<main>
    <!-- Admin Stats Section -->
    <div class="admin-stats">
        <div class="admin-stat">
            <h3>Total Users</h3>
            <p th:text="${total_users}">100</p>
        </div>
        <div class="admin-stat">
            <h3>Total Categories</h3>
            <p th:text="${total_categories}">20</p>
        </div>
        <div class="admin-stat">
            <h3>Total Products</h3>
            <p th:text="${total_products}">500</p>
        </div>
    </div>

    <!-- Order Info Section -->
    <div class="order-info">
        <div class="order-stat">
            <h3>Total Orders</h3>
            <p th:text="${total_orders}">1000</p>
        </div>
        <div class="order-stat">
            <h3>Total Cancellations</h3>
            <p th:text="${total_cancellations}">50</p>
        </div>
        <div class="order-stat">
            <h3>Total Returned Orders</h3>
            <p th:text="${total_returned_orders}">10</p>
        </div>
        <div class="order-stat">
            <h3>Total Delivered Orders</h3>
            <p th:text="${total_delivered_orders}">800</p>
        </div>
        <div class="order-stat">
            <h3>Total Processing Orders</h3>
            <p th:text="${total_processing_orders}">140</p>
        </div>
    </div>

    <section class="recent-activities">
        <h3>Recent Activities</h3>
        <marquee th:onmouseover="this.stop()" th:onmouseout="this.start()" direction="up" scrollamount="2" height="150px">
            <menu>
                <span style="color: blue; font-weight: bold; font-size: 18px;">Last 5 Users:</span>
                <li th:each="user : ${recent_users}">
                    <span th:text="${user.name + ' registered on ' + user.registerDate}" style="color: red" ></span>
                </li>
            </menu>
        </marquee>
    </section>


    <!-- Quick Actions Section -->
    <section class="quick-actions">
        <h3>Quick Actions</h3>
        <ul>
            <li>
                <div>
                    <span style="font-size: 24px;">📊</span>
                </div>
                <a href="#" th:href="@{/admin/view-reports}">View Reports</a>
            </li>
        </ul>
    </section>
</main>


</body>

</html>
