<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management - LuxeCart</title>
    <link rel="stylesheet" th:href="@{/static/CSS/Admin/order.css}">
</head>

<body>
<div th:replace="~{Admin/fragments}"></div>

<main>
    <button th:onclick="window.print()">Print All Orders</button>
    <section id="order-link" class="order-management">
        <h2 style="color: #333;">Order Management</h2>

        <!-- Display list of orders, replace with dynamic data from your backend -->
        <table class="customer-orders">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Status</th>
                <th>Order Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${allorders}" class="order-item">
                <td th:text="${order.orderId}">123</td>
                <td th:text="${order.user.name}">Customer Name 1</td>
                <td th:text="${order.totalAmount}">$100.00</td>
                <td>
                    <input type="hidden" name="orderId" th:value="${order.orderId}" />
                    <select name="status" th:onchange="updateOrderStatus(this, [[${order.orderId}]])">
                        <option value="PENDING" th:selected="${order.status.toString() == 'PENDING'}">Pending</option>
                        <option value="PROCESSING" th:selected="${order.status.toString() == 'PROCESSING'}">Processing</option>
                        <option value="SHIPPED" th:selected="${order.status.toString() == 'SHIPPED'}">Shipped</option>
                        <option value="DELIVERED" th:selected="${order.status.toString() == 'DELIVERED'}">Delivered</option>
                        <option value="CANCELLED" th:selected="${order.status.toString() == 'CANCELLED'}">Cancelled</option>
                        <option value="RETURNED" th:selected="${order.status.toString() == 'RETURNED'}">Returned</option>
                    </select>
                </td>
                <td th:text="${order.orderDate}">Order Date</td>
            </tr>
            </tbody>


        </table>
    </section>
</main>

<script th:inline="javascript" th:src="@{/static/js/Admin/order.js}"></script>


</body>

</html>
