<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/CSS/Admin/reports.css}">
</head>
<body onload="generateMonthlyReports()">

<header>
    <h1>Monthly Reports</h1>
</header>

<div id="loadingContainer">
    <div id="loadingSpinner"></div>
    <div id="loadingMessage">Loading... Please wait</div>
    <div id="myPlot" style="display: none;"></div>
</div>

<script th:src="@{/static/js/Admin/reports.js}"></script>

</body>
</html>
