<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxeCart Store - Checkout</title>
    <link rel="stylesheet" th:href="@{/static/CSS/User/checkout.css}">
</head>
<body>
<div th:replace="~{User/fragments}"></div>
<div id="toast-container"></div>

<div class="container">
    <!-- Checkout Section -->
    <div class="checkout-container">
        <h2>Checkout</h2>
        <div class="checkout-form">
            <div>
                <label for="totalAmount">Total Amount:</label>
                <!-- Display Total Amount -->
                <input th:value="${cartprice}" type="text" id="totalAmount" name="totalAmount" readonly>
            </div>
            <div>
                <label for="orderId">Order ID:</label>
                <input th:value="${orderId}" type="text" id="orderId" name="orderId" readonly>
            </div>
            <div>
                <label for="orderDateTime">Order Date and Time:</label>
                <input th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}" type="text" id="orderDateTime" name="orderDateTime" readonly>
            </div>
            <div>
                <label for="couponCode">Coupon Code:</label>
                <input type="text" id="couponCode" name="couponCode">
                <button th:onclick="applyCoupon()">Apply Coupon</button>
                <div id="couponMessage"></div> <!-- New element for the message -->
            </div>
        </div>
        <div class="checkout-buttons">
            <button onclick="returnToCart()">Return to Cart</button>
            <button onclick="placeOrder()">Place Order</button>
        </div>
    </div>
</div>

<script th:src="@{/static/js/User/checkout.js}"></script>

</body>
</html>
