<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/CSS/User/fragments.css}">
    <title></title>
</head>

<body>
<header>
    <h1>LuxeCart Store</h1>
</header>
<nav>
    <div>
        <a href="/user/home" title="Home">🏠 Home</a>
        <a href="/user/product" title="Products">🛍️ Products</a>
        <a href="/user/cart" title="Cart">🛒 Cart</a>
        <a href="/user/history" title="Order History">📜 Order History</a>
    </div>
    <div th:if="${user}">
        <a href="/logout" class="logout" onclick="logout()">Logout</a>
    </div>
    <div th:unless="${user}">
        <a href="/login" class="login">Login</a>
    </div>
</nav>
</body>
</html>
