<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxeCart Store</title>
    <link rel="stylesheet" th:href="@{/static/CSS/User/home.css}">
</head>
<body>

<div id="profileImageModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeProfileImageModal()">&times;</span>
        <p>
            <button onclick="removeProfileImage()">Remove DP</button>
            <button onclick="openUploadProfileImageInput()">Upload DP</button>
        </p>
    </div>
</div>
<div th:replace="~{User/fragments}"></div>

<div class="container">
    <div class="user-details">
        <div class="profile-picture">
            <label for="profileImageInput" style="cursor: pointer;" onclick="openProfileImageModal()">
                <input type="file" id="uploadProfileImageInput" style="display: none;" accept="image/*"
                       onchange="uploadProfileImage(this)">
                <img th:src="@{/user/image}" th:title="${user.name}" alt="Profile Image" id="profileImage">
            </label>
        </div>


        <h2>Welcome, <span th:text="${user.name}"></span>!</h2>
        <p><span th:text="${user.emailId}"></span></p>
        <p><span th:text="${user.phoneNumber}"></span></p>
        <p><span th:text="${user.address}"></span></p>
    </div>

    <div class="change-password">
        <h3>Change Password</h3>
        <form id="changePasswordForm" onsubmit="preventDefault(); changePassword();">
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" required>

            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
<script th:src="@{/static/js/User/home.js}"></script>
</body>
</html>
