<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Order Details</title>
    <link rel="stylesheet" th:href="@{/static/CSS/User/order-history.css}">
</head>
<body>
<div th:replace="~{User/fragments}"></div>

<main>
    <h2>Order Details</h2>
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Products</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Total Amount</th>
            <th>Action</th> <!-- Added a new column for the Cancel button -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orderlist}">
            <td th:text="${order.orderId}">123456789</td>
            <td>
                <span th:each="product,no: ${order.cart.productList}"
                      th:text="${no.index+1}+') '+${product.productName + '   '}"></span>
                <br/>
            </td>

            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.status}">Shipped</td>
            <td th:text="'₹' + ${order.totalAmount}">$150.00</td>
            <td>
                <button th:onclick="cancelConfirmation([[${order.orderId}]])"
                        th:disabled="${order.status.toString() == 'DELIVERED' or order.status.toString() == 'CANCELLED' or order.status.toString() == 'RETURNED'}"
                        th:style="${order.status.toString() == 'DELIVERED' or order.status.toString() == 'CANCELLED' or order.status.toString() == 'RETURNED' ? 'cursor: not-allowed;' : ''}">
                    Cancel
                </button>



                <button th:onclick="returnConfirmation([[${order.orderId}]])"
                        th:disabled="${order.status.toString()!='DELIVERED'}"
                        th:style="${order.status.toString()!='DELIVERED'?'cursor:not-allowed':''}">
                    Return
                </button>


            </td>

        </tr>


        <!-- Add more rows as needed -->
        </tbody>
    </table>
</main>

<script th:src="@{/static/js/User/order-history.js}"></script>

</body>
</html>
