<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxeCart Store</title>
    <link rel="stylesheet" th:href="@{/static/CSS/User/product.css}">
</head>

<body>


<div th:replace="~{User/fragments}"></div>

<div class="container">
    <!-- Filter buttons -->
    <button class="filter-button" onclick="filterProducts('all')">All Products</button>
    <th:block th:each="category : ${categories}">
        <button class="filter-button" th:attr="data-category=${category}"
                onclick="filterProducts(this.getAttribute('data-category'))" th:text="${category}"></button>
    </th:block>

    <!-- Product cards -->
    <!-- Assuming your product data has a discount property -->
    <div class="product-card" th:each="product : ${products}" th:attr="data-category=${product.category}"
         onclick="addToCart([[${product.productId}]])">
            <img th:src="@{/product/image/{productId}(productId=${product.productId})}" alt="pic">
        <div class="product-details">
            <h2 th:text="${product.productName}">Product Name</h2>
            <p th:text="${product.productDescription}">Description of the product. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.</p>

            <!-- Display price information -->
            <div class="price-container">
                    <span class="original-price" th:if="${product.discount}">
                        <del th:text="${product.price}">₹${product.price}</del>
                    </span>
                <span class="original-price" th:unless="${product.discount}" th:text="${product.price}">₹${product.price}</span>
                <p class="discounted-price" th:if="${product.discount}"
                   th:text="'Discounted Price : ₹'+${product.price - (product.price * product.discount / 100)}">
                    Discounted Price: ₹${product.price - (product.price * product.discount / 100)}</p>
            </div>

            <!-- Stock status -->
            <p class="stock-status" th:if="${product.stockQuantity == 0}">Out of Stock</p>
            <p class="stock-status" th:if="${product.stockQuantity > 0 && product.stockQuantity < 10}" th:text="'Only '+${product.stockQuantity}    +' left in stock'">
                Only ${product.stockQuantity} left in stock
            </p>

            <!-- Add to Cart button -->
            <a th:href="@{'/addToCart/' + ${product.productId}}" class="add-to-cart-link">Add to Cart</a>
        </div>
    </div>
</div>

<!-- Hidden cart product IDs -->
<input type="hidden" id="cartProductIds" th:value="${cartProductIds}"/>

<script th:src="@{/static/js/User/product.js}"></script>
</body>

</html>
