body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.customer-management {
    text-align: center;
}

.customer-orders table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.customer-orders th, .customer-orders td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.customer-orders th {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit; /* Use the default color of the parent element */
}

a:hover {
    text-decoration: none /* Add underline on hover if needed */
}