body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light gray background */
    color: #333;
}

main {
    padding: 20px;
    background-color: #fff; /* White main content background */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.product-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-list th,
.product-list td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
}

.product-list th {
    background-color: #3498db; /* Blue header background */
    color: #fff;
}

.edit-btn,
.delete-btn,
.add-product-btn {
    background-color: #2ecc71; /* Green buttons */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.edit-btn:hover,
.delete-btn:hover,
.add-product-btn:hover {
    background-color: #27ae60; /* Darker green on hover */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* Modal Form Styles */
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

.modal-content button {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #27ae60;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.product-image img {
    max-width: 100px;
    max-height: 100px;
}